{
  "extends": ["eslint:recommended", "eslint-config-egg"],
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "legacyDecorators": true
    }
  }
}